 .overflow-x-auto::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

 .overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}



html{
  overscroll-behavior: none;
}

#welcome{
  background-image: url("./assets/Images/Group 2.png");
  background-repeat: no-repeat; 
  background-position: top  ;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
}



#sinergiaksi{
  background-image: url("./assets/Images/bgsinergiaksi.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  image-rendering: -webkit-optimize-contrast;
}

@media only screen and (width < 600px) {
  #welcome{
    background-image: url("./assets/Images/bg-mobile.png");
    background-repeat: no-repeat; 
    background-position: center ;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
  }
  #sinergiaksi{
    background-size: 100%;
  }
  .container-footer{
    flex-direction: column;
    justify-content: center;
  }
  .contents-footer{
    justify-content: center;
    align-items: center;
  }
  .footer-span{
    display: none;
  }
  .logo{
    justify-content: center;
  }
}